.jumbotron{
    background-color: transparent;
    text-align: left;
}

.name{
    color: #f39339;
}

.img{
    width: 291px;
    height: 300px;
}

.text {
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
  }
  .dud {
    color: #757575;
  }

  .react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    color: #f39339;
  }

  @media only screen and (max-width: 768px){
      .img{
          width: 241px;
          height: 255px;
      }
  }