.navbar-logo{
    width: 130px;
    height: 130px;
    margin-top: -30px !important;
    margin-bottom: -30px !important;
}

.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.custom-nav-link{
    color: #895a25 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
}
.custom-nav-link:hover,.custom-nav-link:active{
    color: #f39339 !important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #f39339 !important;
}
