@import '~bootstrap/scss/bootstrap.scss';
@import './prism.css';

$highlight-color:#f39339;
$secondary-color: #895a25;
$text-color:#ffffff;
$bg-color:#272622;
$layout-color:#21201d;

body{
  background-color: $layout-color;
  font-size: calc(10px + 2vmin);
  color: $text-color;
}

.section 
{ 
    height: 100vh;
    padding-top: 110px;
}


.custom-map-modal {
  .modal-dialog {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 }
 .fullpage{
   overflow: auto !important;
   max-height: 70vh;
 }
 .modal-header{
   border-bottom: none;
 }
 .modal-title{
   color: $highlight-color;
   font-size: 1.15em;
   font-weight: bolder;
 }
 .modal-content {
   height: auto;
   background-color: $bg-color;
   min-height: 90vh;
   min-width: 94vw ;
   margin-left: 3vw;
   border-radius: 0;
   .content{
    color:#ffffff;
   }
   .project-content{
    font-size: 0.8em;
  }
   .close{
     color: #ffffff;
   }
   .close:hover{
    color: $highlight-color;
   }
   .heading{
     color: $highlight-color;
   }
   .modal-footer{
     border-top: none;
   }
   .btn-primary{
     background-color: $secondary-color;
     border-radius: 12px;
     margin-top: 20px;
     width: 130px;
   }
   .btn-primary:hover{
     background-color: $highlight-color;
     box-shadow: 0px 3px 10px $highlight-color;
   }
   .btn-secondary{
     background-color: $secondary-color;
   }
   .btn-secondary:hover{
     background-color: $highlight-color;
   }
}
}


.active-navbar {
  visibility: visible;
  transition: all 200ms ease-in;
  box-shadow: inset 0 24px 13px rgba(32, 16, 2, 0.3);  
}
.hidden-navbar {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}
nav{
    background-color:transparent !important;
    
    .navbar-logo{
        width: 130px;
        height: 130px;
        margin-top: -30px !important;
        margin-bottom: -30px !important;
    }
    

    .navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        
    }
    
    .custom-nav-link{
        color: $secondary-color !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.75em;
    }
    .custom-nav-link:hover,.custom-nav-link:active,.custom-nav-link.show{
        color: $highlight-color !important;
    }
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: $highlight-color !important;
    }
    
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  color: $highlight-color;
  font-weight: bolder; ;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.jumbotron{
    
    background-color: transparent;
    text-align: left;
    display: flex;
    align-items: center;
    .name{
        color: $highlight-color;
    }
    
    .img{
        width: 291px;
        height: 300px;
    }
    
    .text {
        font-weight: 100;
        font-size: 28px;
        color: #fafafa;
      }
      .dud {
        color: #757575;
      }
    
      .react-rotating-text-cursor {
        animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
        color: $highlight-color;
      }
    
}


.About{
  font-size: 0.7em;
  margin-bottom: 150px;
  .about-text{
    padding: 20px;
  }
  h1{
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}

.work{
    hr{
      border: #ffffff 2px solid;
      
    }
    .card-img{
      filter: brightness(50%);
      height: 100%;
    }
    .tilt-inner{
      font-size: 2rem;
      // transform: perspective(400px) translate3d(-400px,-200px,-800px);;
    }
    .card-img-overlay:hover,.card-img-overlay:active{
      text-shadow: 0px 3px 20px #FFFFFF;
      box-shadow: 0px 3px 20px $highlight-color;
    }
  
    
}


.MyJourney{
  background-color: #353430;
  code{
    font-size: 0.9em;
  }
  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #353430;
  }
  .language-javascript{
    color: #fafafa;  
  }
  .cursor:before {
    opacity: 0;
    color: #ffffff;
    content: "|";
    -webkit-animation: blink .8s infinite;
    animation: blink .8s infinite;
}
}

.Footer{
  background-color: $layout-color;
  
  p{
    margin-bottom: 0px;
  }
  .footer-row{
    display: flex;
    padding-left:60px;
    padding-right: 60px;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.15em;
  }
  .links{
    .circle-icon{
        display: inline-block;
        border-radius: 60%;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.7em;
        
    }
    a{
      font-size: 0.75em;
      color:$highlight-color;
    }
    
  }
  .links{
  a:hover{
    color: $highlight-color;
    text-decoration: none;
    .circle-icon{
      background-color: $highlight-color;
      color: #ffffff;
    }
    }
  }
  .copyright{
    font-size: 0.5em;
  }
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }







  @media only screen and (max-width: 768px){
    .section{
        margin-top: 40px;
    }

    .jumbotron{
        margin-top: 0px !important;
        display: block;
        .img{
        width: 241px;
        height: 255px;
        }
    }
    .custom-map-modal {
      overflow: auto; 
      .modal-body{
        max-height: calc(100vh - 210px);
        overflow-y: auto;
      }
      .fullpage{
        overflow:none !important;
        height: none;
      }
      .project-content{
        height: 80vh;
        max-height: 100vh;
      }
    }

    .work{
        .tilt{
            width: 241px;
            height: 255px;
        }
        .tilt-inner{
          font-size: 1.5em;
          // transform: perspective(400px) translate3d(-250px,-20px,-700px);
        }
           .modal-content {
            margin-left: 0vw;
          }
    }

    .MyJourney{
      font-size: 0.85em;
      code[class*="language-"],
      pre[class*="language-"] {
        white-space: pre-line;
      }
    }

    .Footer{
      .footer-row{
        font-size: 1.55em;
      }
    }
}  
